<!--Handle login, redirect to profile-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../../../Img/favicon-RioClaro.png" type="image/x-icon">
    <title>Conecta</title>
</head>
<body>
    <div id="logo">
        <img src="../../../Img/coat-of-arms.png" id="coat-of-arms">
    </div>
    <div>
        <h1>Login</h1>
        <div id="card-login">
            <form action="/submit" method="post">
                <label for="username">Nome de Usuário</label>
                <input type="text" id="username" name="username" required>

                <label for="password">Senha</label>
                <input type="text" id="password" name="password" required>

                <button type="submit">Entrar</button>
            </form>
        </div>
    </div>
</body>
</html>