<!-- show the user functions to menage the content, list of institutions and path to create new ones-->
 <!--get especific inst must be here too-->

 <!DOCTYPE html>
 <html lang="en">
 <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../../../Img/favicon-RioClaro.png" type="image/x-icon">
    <title>Conecta</title>
 </head>
 <body>
    <header>
        <nav>
            <ul>
                <li><img src="../../../Img/city-hall-banner.png"></li>
                <li><button id="redirectCreate">Criar</button></li>
                <li>
                    <div>
                        <form action="/search">
                            <input type="text" id="query" name="query" placeholder="Pesquisar..." required>
                            <button type="submit"><img src="../../../Img/search-icon.png"></button>
                        </form>
                    </div>
                </li>
                <li><button id="logout">Sair</button></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>Instições</h1>
        <div>
            <!--The institution list will be set here.-->
        </div>
    </main>
    <footer>
        <p>Guia de uso: <a href="#guide">guia de <gerenciamento class=""></gerenciamento></a></p>
    </footer>
 </body>
 </html>